@import './_variables';
// flex
@mixin d-flex($direction){
  display: flex;
  flex-direction: ($direction);
}

// super centered with grid
@mixin super-centered{
  display: grid;
  place-items: center;
} 

// horizontal center 
@mixin h-center{
  margin: 0 auto;
}

// btn 

@mixin btn{
  background-color: $main-color;
  color: white;
}

@mixin learn-more-btn{
  color: $main-color;
  font-weight: 600;
}