
// Small screens (e.g., smartphones)
@media (max-width: 576px){
  @include mobile-responsive;
}

// Medium screens (e.g., landscape smartphones)
@media (min-width: 577px) and (max-width: 768px){
    @include mobile-responsive;
    .header-section{
      .hero-section{
        .other-amount{
          span{
            left: 48rem !important;
          }
        }
      }
    }
  }

// Large screens (e.g., small tablets)
@media (min-width: 769px) and (max-width: 991px){
  .hero-section{
    .hero-text{
      width: 90% !important;
    }
    .hero-img{
      width: 100% !important;
    }
    .other-amount{
      span{
        left: 24rem !important;
      }
    }
    .nav{
      .nav-list-container{
        width: 73%;
      }
    }
  }
}

